.cardList {
  align-items: center;
  justify-content: center;
}

mat-card {
  height: auto;
  width: 18rem;
  margin: 2rem;
  justify-content: center;
  text-align: center;
  background-color: #fafafa;
  box-shadow: none;
}

mat-card-header {
  /* justify-content: center; */
  color: rgb(53, 84, 112);
}

input[type="text"] {
  width: 200px;
  height: 60%;
  box-sizing: border-box;
  /* border: 2px solid #404448; */
  border-radius: 15px;
  font-size: 16px;
  /* background-color: #404448; */
  /* background-image: url('searchicon.png'); */
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  color: #cfd0d1;
}

.spacer {
  flex: 1 1 auto;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-radius: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #24292e;
    background-color: #fafbfc;
    border-color: rgba(27, 31, 35, 0.15);
    box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04),
      inset 0 1px 0 hsla(0, 0%, 100%, 0.25);
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-duration: 0.2s;
  }
